.trBackground {
    background-color: #404040;
    margin-left: 5px;
}
.trTitle {
    width: fit-content;
    padding: 2px 5px;
    background-color: #200F60;
    color: #bfc8ec;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.trParagraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    color: #bfc8ec;
}
.trEmphasis {
    width: fit-content;
    background-color: black;
    color: whitesmoke;
}
.trEmphasis::before {
    content: '\2690';
}
.trWarning {
    width: fit-content;
    background-color: black !important;
    color: yellow !important;
    font-family: Arial, Helvetica, sans-serif;
}
.trWarning::before {
    margin-right: 2px;
    content: '\26A0';
}
.trDanger {
    width: fit-content;
    background-color: white !important;
    color: red !important;
    font-family: Arial, Helvetica, sans-serif;
}
.trDanger::before {
    margin-right: 2px;
    content: '\26D4';
}
.trSubtitle {
    margin-top: 5px;
    width: fit-content;
    padding: 2px 5px;
    background-color: #200FA0;
    color: #bfc8ec;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.trTable {
    padding: 5px;
    background-color: #606060;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 10px;
    border-style: groove;
    border-color: #200F60 #bfc8ec;
}
.trTable th {
    background-color: #200FA0;
    color: #bfc8ec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    text-align: left;
}
.trTable td {
    color: #bfc8ec;
    font-family: Arial, Helvetica, sans-serif;
}
.trButton {
    margin-left: 5px;
    margin-top: 5px;
    padding: 3px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-radius: 5%;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
    background-color: #0000ff;
    color: #bfc8ec;
}