html {
    background-color: cadetblue;
}
th {
    background-color: burlywood;
    color: black;
    font-size: larger;
    font-weight: bold;
}
tr td {
    background-color: cadetblue;
    color: black;
    padding: 5px;
    font-size: larger;
}
h1, h2, p {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table {
    border-collapse: separate; /* Ensure border-spacing works */
    border-spacing: 10px 5px; /* Horizontal and vertical spacing */
}
img {
    border-radius: 50%;
}