:root {
    --guessedCorrectPositionBG: lightgreen;
    --guessedWrongPositionBG: cornflowerblue;
    --guessedWrongLetterBG: darkgrey;
    --notGuessed: blue;
}
.options-div {
    height: 5vh;
    padding-bottom: 5vh;
}
.options-div span {
    font-size: 2vh;
    font-style: italic;
}
.options-div button {
    font-size: 4vw;
    width: 6vw;
}
button {
    text-align: center;
    vertical-align: middle;
    background-color: darkblue;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 3vh;
}
.acknowledge {
    font-size: 2vh !important;
    font-style: italic;
}
.customKeyboard {
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 0px;
    background-color: #404040;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 370px;
}
.customKeyboard div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 15px;
}
.customKeyboard div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.customKeyboard div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 10px;
}
.customKeyboard div:nth-child(4) {
    display: flex;
    justify-content: center;
}
.customKeyboard span {
    border: 1px solid white;
    border-radius: 5px;
    /*background-color: blue;*/
    text-align: center;
    margin: 0px 2px;
    padding: 5px 8px;
    font-size: large;
}
.backspace {
    background-color: var(--notGuessed);
}
.backspace::before {
    content: '\003Cx';
}
.guess-table {
    width: 370px;
}
.guess-row {
    border: 1px solid black;
}
.guess-col {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 1px solid white;
    background-color: var(--notGuessed);
    color: white;
    height: 60px;
    font-size: 50px;
}
.correct-letter-correct-position {
    background-color: var(--guessedCorrectPositionBG);
    color: black;
    font-weight: bold;
}
.correct-letter-correct-position-KB {
    background-color: var(--guessedCorrectPositionBG);
}
.correct-letter-wrong-position {
    background-color: var(--guessedWrongPositionBG);
    color: black;
}
.correct-letter-wrong-position-KB {
    background-color: var(--guessedWrongPositionBG);
}
.wrong-letter {
    background-color: var(--guessedWrongLetterBG);
    color: black;
}
.wrong-letter-KB {
    background-color: var(--guessedWrongLetterBG);
}
.undetermined {
    background-color: purple;
    color: whitesmoke;
}
.unguessedColumn {
    background-color: black;
    color: black;
}