button {
    border: 2px solid blue;
}
label, input, button {
    font-size: 5vh;
}
input {
    background-color: lightblue;
}
/* Tooltip container */
.help-hover-text {
    position: relative;
    display: inline-block;
    /* Add other styles as needed */
}

/* Tooltip text */
.help-hover-text .tooltip-text {
    visibility: hidden;
    /* Other styles for the tooltip text */
}

/* Show the tooltip text when hovering over the container */
.help-hover-text:hover .tooltip-text {
    visibility: visible;
    font-style: italic;
    color: lightblue;
    /* Other styles for the visible tooltip text */
}
.info-div {
    font-size: larger;
    padding-bottom: 10px;
}
.info-div table tr  {
    max-width: 90vw;
    font-size: 4vh;
}
.word-display {
    background-color: goldenrod;
}
.word-display.invalid {
    background-color: red;
}
.drops-display {
    background-color: burlywood;
}
.inserts-display {
    background-color: goldenrod;
}
.swaps-display {
    background-color: burlywood;
}
.anagrams-display {
    background-color: goldenrod;
}