button {
    border: 2px solid blue;
}
label, input, button {
    font-size: 5vh;
}
input {
    background-color: lightblue;
    width: 15vw;
}
.info-div {
    font-size: larger;
    padding-bottom: 10px;
}
tr  {
    max-width: 90vw;
    font-size: 4vh;
}
tr td:nth-child(1) {
    width: 15vw;
    background-color: lightslategray;
    text-align: right;
    padding-right: 2vw;
}
tr:nth-child(odd) td:nth-child(2) {
    background-color: goldenrod;
}
tr:nth-child(even) td:nth-child(2) {
    background-color: burlywood;
}
.word-display[invalid="true"] {
    background-color: red !important;
}
