body {
    background-color: #b9e7f5;
}
.options-div {
    height: 5vh;
    padding-bottom: 5vh;
}
.options-div span {
    font-size: 2vh;
    font-style: italic;
}
.options-div button {
    font-size: 4vw;
    width: 6vw;
}
button {
    text-align: center;
    vertical-align: middle;
    background-color: darkblue;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 3vh;
}
.acknowledge {
    font-size: 2vh !important;
    font-style: italic;
}
.info-div {
    font-size: 4vw;
}
.top-row {
    background-color: #f6c0c0;
}
.middle-row {
    background-color: #3b88ca;
}
.bottom-row {
    background-color: #a92e2e;
}
td {
    width: 6vw;
    height: 5vh;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}


.clicked {
    background-color: #3b88ca;
}

.unclicked {
    border: 2px inset whitesmoke;
    border-radius: 10%;
}
@keyframes fadein {
    0% {opacity: 0%; border-radius: 50%;}
    10% {opacity: 10%; border-radius: 45%;}
    20% {opacity: 20%; border-radius: 40%;}
    30% {opacity: 30%; border-radius: 35%;}
    40% {opacity: 40%; border-radius: 30%;}
    50% {opacity: 50%; border-radius: 25%;}
    60% {opacity: 60%; border-radius: 20%;}
    70% {opacity: 70%; border-radius: 15%;}
    80% {opacity: 80%; border-radius: 10%;}
    90% {opacity: 90%; border-radius: 5%;}
    100% {opacity: 100%; border-radius: 0%;}
}
.artwork {
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
    width: 370px;
    animation-name: fadein;
    animation-duration: 6s;
}
.artwork.butterfly {
    background-image: url('MorphoButterfly.png');
}
.artwork.caterpillar {
    background-image: url('MorphoCaterpillar.png');
}
.artwork.cocoon {
    background-image: url('MorphoCocoon.png');
}