body {
    background-color: #b9e7f5;
}
.options-div {
    height: 5vh;
    padding-bottom: 5vh;
}
.options-div span {
    font-size: 2vh;
    font-style: italic;
}
.options-div button {
    font-size: 4vw;
    width: 6vw;
}
button {
    text-align: center;
    vertical-align: middle;
    background-color: darkblue;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 3vh;
}
.acknowledge {
    font-size: 2vh !important;
    font-style: italic;
}
.info-div {
    font-size: 4vw;
}
.top-row {
    background-color: #f6c0c0;
}
.middle-row {
    background-color: #3b88ca;
}
.bottom-row {
    background-color: #a92e2e;
}
td {
    width: 6vw;
    height: 5vh;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}


.clicked {
    border: 2px thin black;
}

/* Define the keyframes for the animation */
@keyframes unclicked {
    0% {
        border: 2px inset whitesmoke;
    }
    50% {
        border: 2px outset whitesmoke;
    }
}
  
/* Apply the animation by css selector */
.unclicked {
    border: 2px inset whitesmoke;
    animation: unclicked 4s infinite;
}
  